    <tr id="top">
        <th>Status:</th>
        <th id="status">{TRIGGER.STATUS}</th>
    </tr>
    <tr>
        <td>Host:</td>
        <td>{HOST.HOST1}</td>
    </tr>
    <tr>
        <td>Trigger:</td>
        <td>{TRIGGER.NAME}</td>
    </tr>
    <tr>
        <td>Trigger severity:</td>
        <td>{TRIGGER.SEVERITY}</td>
    </tr>
    <tr>
        <td>Trigger URL:</td>
        <td>{TRIGGER.URL}</td>
    </tr>
    <tr>
        <td>Item values:</td>
        <td>{ITEM.NAME1} ({HOST.NAME1}:{ITEM.KEY1}): {ITEM.VALUE1}</td>
    </tr>
    <tr>
        <td>Item ID:</td>
        <td id="item_id">{ITEM.ID1}</td>
    </tr>